<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sistema de Gestão Acadêmica</title>
        <link
            href="/src/reset.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            href="/src/style.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <div class="row mt-5"></div>
                <div class="col-12 col-md-8 col-lg-6 mx-auto text-center">
                    <h1 class="mb-4">Sistema de Gestão Acadêmica</h1>

                    <div class="d-grid gap-3 d-md-block">
                        <a href="/alunos" class="btn btn-primary btn-lg m-2">Gerenciar Alunos</a>
                        <a href="/cursos" class="btn btn-secondary btn-lg m-2">Gerenciar Cursos</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
